@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

.footer {
    border-radius: 8px 8px 0px 0px ;
    position: absolute;
    bottom: 0px;
    width: 80%;
    left: 10%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: black;
    padding: 16px 80px;
    color: white;
    font-weight: lighter;
}

.icons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icons a i {
    color: white;
    font-size: 24px;
  }