@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

.footer {
    border-radius: 8px 8px 0px 0px;
    margin: 0 auto;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: black;
    padding: 16px 80px;
    color: white;
    font-weight: lighter;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icons a i {
    color: white;
    font-size: 24px;
}