.single-pizza {
    width: 280px;
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-pizza:hover {
    scale: 1.1;
    transition: ease-in-out 300ms;
}

.single-pizza img {
    height: 50%;
    object-fit: cover;

}

.info-pizza-container {
    height: 50%;
    padding: 8px 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-pizza-container>* {
    height: 33%;
}


.info-pizza-container span {
    font-size: 22px;
    font-weight: bold;
    color: #087b29;
}

.info-pizza-container button {
    height: 20%;
    width: 30%;
    color: #087b29;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #777978;
    border-radius: 8px;


}

.info-pizza-container button:hover {
    border: 2px solid #087b29;
    color: black;
}