.single-pizza{
    width: 280px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.single-pizza img{
    height: 55%;
}

.info-pizza-container{
    height: 40%;
    padding: 0px 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
.info-pizza-container p{
}

.info-pizza-container span{
    font-size: 22px;
    font-weight: bold;
    color: #087b29;
}

.info-pizza-container button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}