.single-pizza{
    width: 280px;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    border-radius: 8px;
    overflow: hidden;
}
.info-pizza-container{
    padding: 0px 8px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.info-pizza-container p{
    margin-bottom: 20px;
}

.info-pizza-container span{
    font-size: 22px;
    font-weight: bold;
    color: #087b29;
    text-decoration: underline;
}