.header {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
    align-items: center;
}

.logo-name-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.pizza-logo {
    height: 100px;
    width: 100px;
    background-image: url("../../../public/static/pizza-logo-42816D88BE-seeklogo.com.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.name {
    font-size: 42px;

}


.name span {
    color: #087b29;
    cursor: pointer;
    margin: auto;
    font-size: 5vmin;
    font-weight: 300;
    transition: font-weight 350ms ease-in-out;
}

.name span:hover {
    font-weight: 900;
}


.link-nav {
    --s: 0.2em;
    /* the thickness of the line */
    --c: #c16503;
    /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
        linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.link-nav:hover {
    --_p: 100%
}



.navigation ul {
    display: flex;
    gap: 20px;
}

.navigation ul li a {
    color: #087b29;
    font-weight: 600;
    font-size: 20px;
}


.top-img {
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 80%;
    background-image: url("../../../public/static/intro-1662667729.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 110%;
}
.headinh-wrapper{
    position: absolute;
    top: 10%;
    right: 8%;
    width: 40%;
    text-align: center;
}



.waviy {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 45%;
    text-align: center;
  }
  .waviy span:not(.hashtag) {
    position: relative;
    display: inline-block;
    font-size: 60px;
    font-weight: 400;
    color: rgb(81, 191, 17);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .hashtag{
    color: white;
    font-size: 42px;
  }